{% extends "bootstrap/base.html" %}

{% block title %}
投票アプリ
{%- endblock title %}

{% block meta -%}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{%- endblock meta %}


{% block styles -%}
<link rel="shortcut icon" type="image/png" href="assets/img/bicycle.png">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/example.css">
{%- endblock styles %}

{% block body %}
<div class="container">
{% block navbar %}
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center">
    <div class="container">
      <a class="navbar-brand" href="./">
        <h3>
        投票アプリ
        </h3>
      </a>
    </div>
  </nav>
</header>
{%- endblock navbar %}

{% block content -%}
lauout
{%- endblock content %}

{% block scripts -%}
<script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.5/clipboard.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{%- endblock scripts %}
<footer class="Medium">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        &copy; 2022  古渡二次会 F-1グランプリ
      </div>
    </div>
  </div>
</footer>
</div>
{% endblock %}


